<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
</head>
<body>
<h2>Person List</h2>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Person Number</th>
        <th>Email</th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.firstName}">First Name</td>
        <td th:text="${person.lastName}">Last Name</td>
        <td th:text="${person.personNumber}">Person Number</td>
        <td th:text="${person.emailAddress}">Email</td>
        <td>
            <a th:href="@{/persons/{personNumber}(personNumber=${person.personNumber})}">View Details</a>
        </td>
    </tr>
</table>
<br/>
<a href="/persons/add">Add New Person</a>
<br/>
<table border="1">
    <tr>
        <th>Search by person email</th>
    </tr>
    <tr >
        <td>
            <form action="#" th:action="@{/persons/search}" method="get">
                <input type="text" id="email" name="email" placeholder="Search by email..." required>
                <button type="submit">Search</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>